<!-- templates/form.html -->
<html>
  <head>
    <title>Receipt Printer</title>
  </head>
  <body style="padding-left: 10%;">
    <h1>Order Number</h1>
    <form method="post" action="/">
      <input type="text" name="input_value">
      <input type="submit" value="Submit">
    <p>
    <form method="post" action="/">
      <input type="submit" value={{ VALUE1 }} name="action1"/>
      <p>
      <input type="submit" value={{ VALUE2 }} name="action2"/>
      <p>
      <input type="submit" value={{ VALUE3 }} name="action3"/>
    </form>
  </body>
</html>
